

    .circle {
      position: absolute;
      width: var(--font-size);
      height: var(--font-size);
      background-color: transparent;
      color: white;
      font-size: var(--font-size);
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      pointer-events: none;
      user-select: none;
      opacity: 1;
      z-index: -1;
      animation: moveCircle 10s linear,
        fadeCircle 10s linear;
    }

    @keyframes moveCircle {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(0vw, 100vh);
      }
    }

    @keyframes fadeCircle {
      0%, 100% {
        opacity: 0;
      }
      50% {
        opacity: 0.3;
      }
    }