body {
    background-color: #121212;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;

}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#word-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#user-input {
    font-size: 1rem;
    text-align: center;
}

#timer {
    font-size: 1.25rem;
    margin-top: 1rem;
}







.ide-container {
    display: flex;
    flex-direction: row;
}

.ide-editor {
    flex: 1;
    color: #FFFFFF;
}

.ide-sidebar {
    width: 300px;
    padding: 1rem;
    color: #FFFFFF;
}





.code-container {
    display: flex;
}


.code-snippet-container {
      /*counter-reset: line;*/
      overflow-x: auto;
      white-space: nowrap;
      font-size: 0;
}
/*

.code-snippet-container br + span:before {
  counter-increment: line;
  content: counter(line);
  border-right: 1px solid rgba(52, 89, 230,1);
  border-top:1px solid rgba(33, 37, 41,1);
  border-bottom:1px solid rgba(33, 37, 41,1);

  padding: 0 .5em;
  margin-right: .5em;
  margin-left: 0em;
    color: rgba(52, 89, 230,1);
    background:rgba(33, 37, 41,1);
}

.code-snippet-container span + span:before {
  content: "";
}*/

.char-code {
    font-size: 0.85rem;
    padding: 1px;
    color: #AAAAAA;

}

.line-number{
   font-size: 0.85rem;
   color: rgba(52, 89, 230,1);
   border-right: 1px solid rgba(52, 89, 230,1);
    margin-right: 1em;
    padding-right: 1em;
    text-align: center;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.race-finished {
    animation: slideIn 1s ease-in-out forwards;
    display: none;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

#race-finished-hr {
    width: 100%;
}


.cursor{
    background-color: #375a7f;
    color: white;
}

.correct {
    color: #a1ff8a;
}
.incorrect {
     background-color: #e74c3c;
 }

progress {
  width: 100%;
  height: 20px;
  border: none;
  background-color: #333;
  border-radius: 5px;
}


