<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout.html}">
<head>
</head>
<body>
<header th:replace="~{/fragments/header :: header}" layout:fragment="header"></header>
<div th:replace="~{/fragments/login :: login}" layout:fragment="login"></div>
<div th:replace="~{/fragments/bug-report :: bug-report}" layout:fragment="bug-report"></div>

<main class="mb-auto container-xxl bd-gutter py-5" layout:fragment="content">
    <div class="p-3 shadow-lg rounded text-center custom-bg-dark height-500">
        <div class="shadow-lg rounded border text-center align-items-center justify-content-center w-100 h-100 d-flex gray-gradient">
            <div class="p-3">
                <h1 class="display-4">Welcome to CodeDash</h1>
                <p class="lead">Compete, Learn, and Excel in Coding Challenges</p>
                <a class="btn btn-primary btn-lg mt-3 w-100" th:href="@{/race}">Start CodeDash!</a>
            </div>
        </div>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner  custom-bg-dark rounded shadow-lg p-3 mt-1">
            <div class="carousel-item active">
                <div class="d-flex flex-column flex-md-row w-100">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="col-12 col-md-6 rounded me-md-1" alt="Sunset Over the City">
                    <div class="p-3 bg-body-tertiary rounded gray-gradient">
                        <h4>Explore Game Modes</h4>
                        <hr>
                        <p>Discover various game modes to enhance your coding skills and challenge yourself</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex flex-column flex-md-row w-100">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="col-12 col-md-6 rounded me-md-1" alt="Sunset Over the City">
                    <div class="p-3 bg-body-tertiary rounded gray-gradient">
                        <h4>Compete Globally</h4>
                        <hr>
                        <p>Join a global community of coders and compete in real-time coding races against programmers from around the world.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex flex-column flex-md-row w-100">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="col-12 col-md-6 rounded me-md-1" alt="Sunset Over the City">
                    <div class="p-3 bg-body-tertiary rounded gray-gradient">
                        <h4>New Challenges Await</h4>
                        <hr>
                        <p>Take on new coding challenges and improve your skills with our diverse set of problems.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</main>
<footer th:replace="~{/fragments/footer :: footer}" layout:fragment="footer"></footer>
</body>
</html>
