<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout.html}">
<head>
</head>
<body>
<header th:replace="~{/fragments/header :: header}" layout:fragment="header"></header>
<div th:replace="~{/fragments/login :: login}" layout:fragment="login"></div>
<div th:replace="~{/fragments/bug-report :: bug-report}" layout:fragment="bug-report"></div>

<main class="mb-auto container-xxl bd-gutter py-5 h-100" layout:fragment="content">
    <div class="p-3 rounded custom-bg-dark  h-100">
        <div class="shadow-lg rounded border bg-body-tertiary w-100 h-100 p-3">
            <h2>Leaderboard</h2>
            <div class="scrollable-table rounded p-1 mb-3 custom-bg-darkblue text-center overflow-auto">
                <table class="table m-0 display font-weight-bold table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Player</th>
                        <th scope="col">Score</th>
                    </tr>
                    </thead>
                    <tbody id="leaderboardBody">
                    </tbody>
                </table>

            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" id="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="First">
                            <span aria-label="First" aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span  aria-label="Previous" aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-label="Next" aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Last">
                            <span aria-label="Last"  aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>
<footer th:replace="~{/fragments/footer :: footer}" layout:fragment="footer"></footer>
<div layout:fragment="java-scripts">
    <script src="js/leaderboard-page-switch.js"></script>
</div>
</body>
</html>
