<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CodeDash</title>
</head>
<body>
<header th:replace="~{/fragments/header :: header}" layout:fragment="header"></header>
<div th:replace="~{/fragments/login :: login}" layout:fragment="login"></div>
<div th:replace="~{/fragments/bug-report :: bug-report}" layout:fragment="bug-report"></div>
<main class="mb-auto container-xxl bd-gutter py-5" layout:fragment="content">
    <section class="rounded-3 bg-blur mb-1 bg-blur-dark-50 p-5">
        <div>
            <h2 class="mb-5 fw-bold">How It Works</h2>
            <p>Playing CodeDash is simple. Here's how you can get started:</p>
            <ul>
                <li><strong>Join a Race:</strong> Choose a race that suits your skill level or create a new one.
                    You can invite friends or compete against random players from the community.</li>
                <li><strong>Get Ready:</strong> Once the race starts, you will be presented with code snippets in
                    your chosen programming language.</li>
                <li><strong>Type Like the Wind:</strong> Your mission is to type out the presented code snippet as
                    quickly and accurately as you can. Watch out for tricky syntax and special characters!</li>
                <li><strong>Climb the Leaderboard:</strong> Each completed code snippet adds to your score. Compete
                    against other racers to climb the leaderboard and prove your typing supremacy.</li>
            </ul>
        </div>
    </section>
    <section class="rounded-3 bg-blur mb-1 bg-blur-dark-50 p-5">
        <div>
            <h2 class="fw-bold mb-5">Get <span class="text-primary ">Involved</span></h2>
            <p>As an open-source project, CodeDash thrives on the support of its community. If you're enthusiastic
                about enhancing the game or adding new features, we invite you to contribute to the project.
                Check out our <a href="https://github.com/your-github-repository" target="_blank">GitHub repository</a>
                to get started.
            </p>
        </div>
    </section>
</main>
<footer th:replace="~{/fragments/footer :: footer}" layout:fragment="footer"></footer>
</body>
</html>
